<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CommunityDex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav py-1">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/pokemon">All Pokemon</a>
                <a class="nav-link" href="/userPokemon">User-Created Pokemon</a>
                <a class="nav-link" href="/pokemon/new">+ Create New Pokemon</a>
            </div>
            <div class="navbar-nav py-1 ms-auto">
                <form class="d-flex px-3 form-inline" role="search" action="/pokemon" method="GET">
                    <input class="form-control me-2 form-control" type="search" placeholder="Search for Pokemon.."
                        aria-label="Search" name=search>
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
                <% if(!currentUser) {%>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <%= currentUser.username %>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/user/<%= currentUser._id %>">My Profile</a></li>
                                <li><a class="dropdown-item" href="/user/<%= currentUser._id %>/pokemon">My Pokemon</a>
                                </li>
                            </ul>
                        </div>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>