<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Dex</title>
</head>

<body>
    <h1>Community Dex</h1>
    <a href="/pokemon">All Pokemon</a>
    <a href="/userPokemon">User-Created Pokemon</a>
    <a href="/pokemon/new">Create New Pokemon</a>
</body>

</html>